# Exploration of actors repartition based upon gender

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [14]:
# Data source: http://www.cs.cmu.edu/~ark/personas/

# Define the data path
CLEAN_DATA_PATH = 'clean_data/'

In [50]:
# Function: filter NaN of a given column
def filter_nan(dataframe, column_to_filter):
    '''
    Create a new dataframe filtering out the NaN values
    of the given column of the given dataframe 
    :param dataframe: pandas.DataFrame
    :param column_to_filter: str
    :return: new dataframe
    '''
    new_df = dataframe.dropna(axis=0, subset=column_to_filter)
    print(f"Cleaning of {column_to_filter} : {new_df.shape[0]} entries left")
    return new_df

In [ ]:
# Load the data
characters_df = pd.read_csv(CLEAN_DATA_PATH + "characters.csv")
display(characters_df)

initial_entries_number = characters_df.shape[0]
print(f"Initial entries: {initial_entries_number}")

# Remove NaN from column actor_gender
filt_characters_df = filter_nan(characters_df, "actor_gender")

# Remove NaN from actor_age
filt_characters_df = filter_nan(filt_characters_df, "actor_age")

# Remove NaN from movie_release_date
filt_characters_df = filter_nan(filt_characters_df, "movie_release_date")

display(filt_characters_df)

Note that the order of column filtering of NaN is independent of the number of entries we obtain at the end.

In [ ]:
# # Create actresses dataframe
# actresses_df = filt_characters_df.groupby["actor_gender" ==]

#### Comparison of actresses and actors number over the years

In [58]:
#FIXME long loop (>2min) no possibility to check if error in code
# def get_year(dataframe, x):
#     try:
#         return pd.to_datetime(dataframe["movie_release_date"]).year()
#     except:
#         return x

# # Uniformize movie_release_date to string containing only the year
# filt_characters_df["movie_release_date"] = filt_characters_df["movie_release_date"].apply(lambda x: get_year(filt_characters_df, x))

### Age repartition of role played separated by gender